#dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#dashList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    height: 100vh;
    padding: 20px;
    background-color: var(--primary-color);
    border: 2px solid var(--text-color);
}

#dashList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#dashList ul li {
    margin: 20px 0;
    font-family: var(--font-family);
}

#dashList ul li a {
    font-size: 18px;
    text-decoration: none;
    color: var(--text-color);
}

#dashList ul li a:hover {
    color: var(--accent-color);
}

#dashboard-heading{
    font-family: var(--font-family);
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

#summaries {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px; /* changed from margin */
}

.summaries-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.summary-box {
    width: 300px;
    height: 150px;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sh {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sp {
    font-size: 18px;
    color: #555;
}

.product-search-container {
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-button {
    padding: 10px 15px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-family: var(--font-family);
    cursor: pointer;
    margin-top: 50px;
}

.search-button a{
    text-decoration: none;
    color: inherit;
}


.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.order {
    width: 100%;
    margin: 20px;
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    background-color: #f9f9f9;
}

.order-button {
  background-color: var(--button-color);
  padding: 8px;
  margin-top: 10px;
  border-radius: 10px;
  color: var(--button-text-color);
  font-family: var(--font-family);
}

.product{
    margin: 10px 0;
    width: 100%;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding: 10px;
}